body {
  font-family: Arial, sans-serif;
  padding: 0.75rem;
  background-color: rgb(6, 6, 30);
  color: rgb(224, 224, 235);
}

p {
  padding-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
}

#coffeeLink {
  color: rgb(184, 184, 255);
}

button {
  padding: 0.75rem;
  background-color: rgb(199, 199, 255);
  font-weight: bold;
  color: rgb(20, 20, 25);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(163, 163, 221);
}

.btn-secondary {
  padding: 0.75rem;
  background-color: rgb(34, 34, 102);
  color: rgb(199, 199, 255);
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: rgb(26, 26, 83);
}

.btn-danger {
  padding: 0.75rem;
  background-color: rgb(94, 33, 33);
  color: rgb(199, 199, 255);
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-danger:hover {
  color: white;
  background-color: rgb(187, 23, 23);
}

.title-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#gameList {
  list-style-type: none;
  padding: 0;
}

#gameList li {
  margin: 0.5rem 0rem 0.5rem 0rem;
  background-color: rgb(9, 9, 78);
  border-radius: 0.25rem;
}

#gameList li:hover {
  background-color: rgb(10, 10, 110);
}

#gameList li a {
  text-decoration: none;
  color: rgb(224, 224, 235);
  font-weight: bold;
  margin-left: 0.75rem;
}